{
  "openapi": "3.0.3",
  "info": {
    "title": "Korean Market & Crypto Trends API",
    "version": "2.1.0",
    "description": "Hourly South Korea market intelligence API: Google Trends KR topics, KRW exchange rates, and crypto Kimchi Premium spreads between Upbit and Binance.",
    "contact": {
      "name": "GERMANKBR",
      "url": "https://rapidapi.com/GERMANKBR/api/korean-trends-api1"
    },
    "license": {
      "name": "MIT"
    }
  },
  "servers": [
    {
      "url": "https://korean-trends-api1.p.rapidapi.com",
      "description": "RapidAPI gateway"
    },
    {
      "url": "https://germankbr.github.io/signal-protocol",
      "description": "GitHub Pages origin"
    }
  ],
  "paths": {
    "/api/v1/trends.json": {
      "get": {
        "operationId": "getKoreanTrends",
        "summary": "Get South Korea search trends",
        "description": "Returns hourly Google Trends topics for South Korea with approximate traffic and related news links.",
        "tags": ["Trends"],
        "responses": {
          "200": {
            "description": "Korean trends response",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/TrendsResponse" }
              }
            }
          }
        }
      }
    },
    "/api/v1/crypto.json": {
      "get": {
        "operationId": "getKimchiPremium",
        "summary": "Get crypto Kimchi Premium",
        "description": "Returns Upbit KRW versus Binance USDT spread data for tracked crypto assets.",
        "tags": ["Crypto"],
        "responses": {
          "200": {
            "description": "Kimchi Premium response",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/CryptoResponse" }
              }
            }
          }
        }
      }
    },
    "/api/v1/rates.json": {
      "get": {
        "operationId": "getKrwRates",
        "summary": "Get KRW exchange rates",
        "description": "Returns KRW conversion rates against major world currencies.",
        "tags": ["Rates"],
        "responses": {
          "200": {
            "description": "KRW rates response",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/RatesResponse" }
              }
            }
          }
        }
      }
    },
    "/api/v1/meta.json": {
      "get": {
        "operationId": "getApiMetadata",
        "summary": "Get API metadata",
        "description": "Returns endpoint catalog, source status, pricing links, and update metadata.",
        "tags": ["Metadata"],
        "responses": {
          "200": {
            "description": "API metadata response",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/MetaResponse" }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "schemas": {
      "BaseResponse": {
        "type": "object",
        "required": ["status", "endpoint", "updated_at"],
        "properties": {
          "status": {
            "type": "string",
            "enum": ["ok", "partial"]
          },
          "api": {
            "type": "string",
            "example": "Korean Market & Crypto Trends API"
          },
          "endpoint": {
            "type": "string"
          },
          "description": {
            "type": "string"
          },
          "updated_at": {
            "type": "string",
            "format": "date-time"
          },
          "update_frequency": {
            "type": "string",
            "example": "hourly"
          }
        }
      },
      "TrendsResponse": {
        "allOf": [
          { "$ref": "#/components/schemas/BaseResponse" },
          {
            "type": "object",
            "required": ["count", "data"],
            "properties": {
              "source": {
                "type": "string",
                "example": "Google Trends RSS, geo=KR"
              },
              "count": {
                "type": "integer",
                "example": 20
              },
              "summary": {
                "type": "object",
                "properties": {
                  "total_trending_topics": { "type": "integer" },
                  "total_related_news": { "type": "integer" },
                  "top_keywords": {
                    "type": "array",
                    "items": { "type": "string" }
                  },
                  "traffic": {
                    "type": "object",
                    "nullable": true
                  }
                }
              },
              "data": {
                "type": "array",
                "items": { "$ref": "#/components/schemas/TrendItem" }
              }
            }
          }
        ]
      },
      "TrendItem": {
        "type": "object",
        "required": ["rank", "keyword"],
        "properties": {
          "rank": { "type": "integer", "example": 1 },
          "keyword": { "type": "string", "example": "Bitcoin" },
          "url": { "type": "string", "nullable": true },
          "published_at": { "type": "string", "format": "date-time", "nullable": true },
          "approximate_traffic": { "type": "string", "nullable": true, "example": "5000+" },
          "approximate_traffic_value": { "type": "integer", "nullable": true, "example": 5000 },
          "related_news": {
            "type": "array",
            "items": { "$ref": "#/components/schemas/NewsItem" }
          }
        }
      },
      "NewsItem": {
        "type": "object",
        "properties": {
          "title": { "type": "string", "nullable": true },
          "url": { "type": "string", "nullable": true },
          "source": { "type": "string", "nullable": true }
        }
      },
      "CryptoResponse": {
        "allOf": [
          { "$ref": "#/components/schemas/BaseResponse" },
          {
            "type": "object",
            "required": ["data"],
            "properties": {
              "data": {
                "type": "object",
                "nullable": true,
                "properties": {
                  "quote_currency": { "type": "string", "example": "KRW" },
                  "offshore_pair_currency": { "type": "string", "example": "USDT" },
                  "conversion_basis": { "type": "string" },
                  "usd_krw_rate": { "type": "number", "example": 1497.01 },
                  "tracked_assets": { "type": "integer", "example": 5 },
                  "average_premium_percentage": { "type": "number", "example": -0.75 },
                  "highest_premium": { "$ref": "#/components/schemas/PremiumSummary" },
                  "lowest_premium": { "$ref": "#/components/schemas/PremiumSummary" },
                  "arbitrage_opportunity": { "$ref": "#/components/schemas/ArbitrageOpportunity" },
                  "assets": {
                    "type": "array",
                    "items": { "$ref": "#/components/schemas/CryptoAsset" }
                  }
                }
              },
              "disclaimer": { "type": "string" }
            }
          }
        ]
      },
      "PremiumSummary": {
        "type": "object",
        "properties": {
          "symbol": { "type": "string", "example": "BTC" },
          "premium_percentage": { "type": "number", "example": -0.76 },
          "direction": { "type": "string", "enum": ["kimchi_premium", "kimchi_discount"] }
        }
      },
      "CryptoAsset": {
        "type": "object",
        "properties": {
          "symbol": { "type": "string", "example": "BTC" },
          "name": { "type": "string", "example": "Bitcoin" },
          "upbit_market": { "type": "string", "example": "KRW-BTC" },
          "binance_symbol": { "type": "string", "example": "BTCUSDT" },
          "upbit_price_krw": { "type": "number", "example": 114209000 },
          "binance_price_usdt": { "type": "number", "example": 76878.24 },
          "binance_price_krw_converted": { "type": "number", "example": 115087494 },
          "premium_krw": { "type": "number", "example": -878494 },
          "premium_percentage": { "type": "number", "example": -0.76 },
          "absolute_premium_percentage": { "type": "number", "example": 0.76 },
          "direction": { "type": "string", "enum": ["kimchi_premium", "kimchi_discount"] },
          "upbit_trade_timestamp": { "type": "string", "format": "date-time", "nullable": true }
        }
      },
      "RatesResponse": {
        "allOf": [
          { "$ref": "#/components/schemas/BaseResponse" },
          {
            "type": "object",
            "required": ["data"],
            "properties": {
              "data": {
                "type": "object",
                "nullable": true,
                "properties": {
                  "base": { "type": "string", "example": "KRW" },
                  "quote_basis": { "type": "string", "example": "USD" },
                  "krw_per_usd": { "type": "number", "example": 1497.01 },
                  "krw_per_unit": {
                    "type": "object",
                    "additionalProperties": { "type": "number" }
                  },
                  "source_updated_at": { "type": "string", "nullable": true },
                  "next_source_update_at": { "type": "string", "nullable": true },
                  "provider": { "type": "string", "example": "open.er-api.com" }
                }
              }
            }
          }
        ]
      },
      "MetaResponse": {
        "type": "object",
        "properties": {
          "api_name": { "type": "string" },
          "version": { "type": "string" },
          "status": { "type": "string", "enum": ["ok", "partial"] },
          "description": { "type": "string" },
          "base_url": { "type": "string" },
          "rapidapi_url": { "type": "string" },
          "endpoints": {
            "type": "array",
            "items": { "type": "object" }
          },
          "data_sources": {
            "type": "array",
            "items": { "type": "object" }
          },
          "pricing": { "type": "object" },
          "source_status": { "type": "object" },
          "last_collection_run": { "type": "string", "format": "date-time" },
          "repository": { "type": "string" },
          "disclaimer": { "type": "string" }
        }
      },
      "ArbitrageOpportunity": {
        "type": "object",
        "nullable": true,
        "properties": {
          "asset": { "type": "string", "example": "SOL" },
          "detected_at": { "type": "string", "format": "date-time" },
          "spread_percentage": { "type": "number", "example": 3.12 },
          "estimated_net_profit_sol": { "type": "string", "example": "3.5240" },
          "profit_ratio_percentage": { "type": "string", "example": "3.52%" },
          "execution_route": {
            "type": "object",
            "properties": {
              "step_1": { "type": "string" },
              "step_2": { "type": "string" },
              "step_3": { "type": "string" }
            }
          },
          "execution_gateway": {
            "type": "object",
            "properties": {
              "status": { "type": "string", "example": "encrypted" },
              "notice": { "type": "string", "example": "DIRECT_ONCHAIN_MEV_ROUTE" },
              "message": { "type": "string" },
              "payment_address": { "type": "string", "example": "H5Va5uQnpkboW9CJZMG7VLRPM4sA87FwmgkDuT28LYM1" },
              "decryption_fee_sol": { "type": "string", "example": "0.05" },
              "route_hash": { "type": "string" }
            }
          }
        }
      }
    }
  },
  "tags": [
    { "name": "Trends" },
    { "name": "Crypto" },
    { "name": "Rates" },
    { "name": "Metadata" }
  ]
}
